texts-schema.rnc

start = doc 
    doc = element doc {name, story+}
name = attribute name {"Quran" | "Hebrew Scripture" | "Christian Scripture" | "Genesis" | "Exodus" | "Matthew" | "Luke" | "John" | "Philippians" | "Colossians" | "Hebrews" | "James" | "Revelations"} 
story = element story {mixed {(book | chapter)+}}
    book = element book {mixed {name}}
    chapter = element chapter {number, verse+}
        number = attribute number {text}
        verse = element verse {number?, text}
    
    
# stories 
 # creation story
 # relevations - end of the world stuff 
 # parables in general 
 # noah 
 # moses
 # abraham
 # sodom gomorrah 
 # issac

# within stories: 
    # love
    # god/allah
        # element with attribute on how he is referenced (positive, negative, neutral)
    # respect and honor
    # children
    # teach
    # listen 
    # worship 
    
