texts-schema.rnc

start = doc 
    doc = element doc {name, story+}
name = attribute name {"Quran" | "Hebrew Scripture" | "Christian Scripture" | "Genesis" | "Exodus" | "Matthew" | "Luke" | "John" | "Philippians" | "Colossians" | "Hebrews" | "James" | "Revelations"} 
story = element story {mixed {(book | chapter)+}}
    book = element book {mixed {name}, verse+}
    chapter = element chapter {number, verse+}
        number = attribute number {text}
        verse = element verse {number?, text}
    
    
# stories 
    # Creation (c)
    # Revelations (r) 
    # Parables (p)
    # Noah and the Flood (n)
    # Moses (m)
    # Abraham (a)
    # Jesus (j)

# within stories: 
    # love
    # god/allah
        # element with attribute on how he is referenced (positive, negative, neutral)
    # respect and honor
    # children
    # teach
    # listen 
    # worship 
    
# structural 
    # book/ sutra (optional)
    